@charset "utf-8";


.page_bck {
	background-image: url(images/gradient_bck.jpg);
	background-repeat: repeat-x;
	width: 972px;
	text-align:left;
}
.greycontenttext {
	color: #2E2E2E;
	font-size: 14px;
	
}
.sectionheader {
	color: #5B6F87;
	font-size: 19px;
	
	font-weight: bold;
}
.mainheader {
	color: #2E2E2E;
	font-size: 21px;
	

	
	
}
.mainheaderblue a:link {font-weight: none; font-size: 21.0px; color: #0157B0; text-decoration: none;}
.mainheaderblue a:visited {"Myriad Pro"; font-weight: none; font-size: 21.0px; color: #0157B0; text-decoration: none;}
.mainheaderbluea:hover {"Myriad Pro"; font-weight: none; font-size: 21.0px; color: #0157B0; text-decoration: none;}
.mainheaderblue {"Myriad Pro"; font-size: 21.0px; color: #0157B0; text-decoration: none; }	
	
	
	

.pagetitle {
	color: #2E2E2E;
	font-size: 23px;
	
}
.pagetitlegreen {
	color: #619210;
	font-size: 23px;
	/*font-family: "Myriad Pro";*/
}
.contact_bck {
	background-image: url(images/chat.png);
	background-repeat: no-repeat;
	background-position: center;
}
.green_bck {
	background-image: url(images/green_bck.jpg);
	background-repeat: repeat-x;
}
.greygreencontenttext {
	color: #2E2E2E;
	font-size: 14px;
	/*font-family: "Myriad Pro";*/
}
.greygreencontenttextbold {
	color: #2E2E2E;
	font-size: 14px;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;
}
.orangetext {
	color: #DF6734;
	font-size: 15px;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;

	
}
.bluetext a:link {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.bluetext a:visited {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.bluetext a:hover {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.bluetext {/*font-family: "Myriad Pro";*/ font-size: 14.0px; color: #0157B0; text-decoration: none; }


#apflyout1 {
	position: relative;
	width:226px;
	z-index:20;
	height: 274px;
	left: -137px;
	top: -1221px;
	visibility: hidden;
}
#apflyout2 {
	position: relative;
	width:226px;
	z-index:21;
	height: 274px;
	left: -137px;
	top: -1409px;
	visibility: hidden;
}
#apflyout3 {
	position: relative;
	width:226px;
	z-index:22;
	height: 274px;
    left: -137px;
	top: -1593px;
	visibility: hidden;
}
.page_bck {
	background-image: url(images/green_bck.jpg);
	background-repeat: repeat-x;
	
}
.surveysection_title {
	color: #2E2E2E;
	font-size: 13px;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;
}
.surveyradio_bttns {
	color: #2E2E2E;
	font-size: 13px;
	/*font-family: "Myriad Pro";*/

}

.surveyresults a:link {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 12.0px; color: #0157B0; text-decoration: none;}
.surveyresults a:visited {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 12.0px; color: #0157B0; text-decoration: none;}
.surveyresults a:hover {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 12.0px; color: #0157B0; text-decoration: none;}
.surveyresults {/*font-family: "Myriad Pro";*/ font-size: 12.0px; color: #0157B0; text-decoration: none; }




.pagetitle {
	height: 31px;
	/*font-family: "Myriad Pro";*/
	font-size: 21px;
	color: #2E2E2E;
	text-indent: 14px;
}
.page_bck {
	background-image: url(images/page_bck.jpg);
	background-repeat: repeat-x;
	width: 972px;
}
.sectionheaders {
	color: #2E2E2E;
	font-size: 14px;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;
}
.sectiongreytext {
	color: #2E2E2E;
	font-size: 14px;
	/*font-family: "Myriad Pro";*/
}

#skip a, #skip a:hover, #skip a:visited
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:active, #skip a:focus
{
position:static;
width:auto;
height:auto;
} 

	

.sectionbluetext a:link {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.sectionbluetext a:visited {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.sectionbluetext a:hover {/*font-family: "Myriad Pro";*/ font-weight: none; font-size: 14.0px; color: #0157B0; text-decoration: none;}
.sectionbluetext {/*font-family: "Myriad Pro";*/ font-size: 14.0px; color: #0157B0; text-decoration: none; }
	
	

.scrollingthumb_title {
	color: #2E2E2E;
	font-size: 13px;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;
	text-indent: 12px;
}.topborder {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #CBCBCB;
	
}.hline {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #828A93;
}
.scrolling_bck {
	background-image: url(images/scrolling_bck.jpg);
	background-repeat: repeat-x;
	
}
.moviescenes_bck {
	background-image: url(images/moviescenes_bck.jpg);
	background-repeat: repeat-x;
}	
.moviescenes_title {
	font-size: 17px;
	color: #FFFFFF;
	/*font-family: "Myriad Pro";*/
	text-indent: 7px;
}
.learn_more  a:link {/*font-family: "Myriad Pro";*/ font-size: 12.0px; color: #0157B0; text-decoration: none; }
.learn_more  a:visited {/*font-family: "Myriad Pro";*/ font-size: 12.0px; color: #0157B0; text-decoration: none; }
.learn_more  a:hover {/*font-family: "Myriad Pro";*/  font-size: 12.0px; color: #0157B0; text-decoration: none; }
.learn_more  a:active{/*font-family: "Myriad Pro";*/ font-size: 12.0px; color: #0157B0; text-decoration: none; }
.learn_more {/*font-family: "Myriad Pro";*/ font-size: 12.0px; color: #0157B0; text-decoration: none; }
	
.sections_text {
	/*font-family: "Myriad Pro";*/
	font-size: 14px;
	line-height: 21px;
	color: #2E2E2E;
}

.section_titles {
	font-size: 19px;
	color: #5B6F87;
	font-weight: bold;
	/*font-family: "Myriad Pro";*/
}	
.youtube_title {
	font-size: 17px;
	color: #FFFFFF;
	/*font-family: "Myriad Pro";*/
	
}
.sections12pt_text {
	/*font-family: "Myriad Pro";*/
	font-size: 12px;
	line-height: 12px;
	color: #2E2E2E;
}
.more {
	/*font-family: "Myriad Pro";*/
	font-size: 12px;
	font-weight: bold;
	color: #0157B0;
}
.moviethumbtext {
	color: #2E2E2E;
	font-size: 11px;
	/*font-family: "Myriad Pro";*/
	height: 10px;
}
div#wn	{
	position:relative;
	width:625px;
	height:70px;
	overflow:hidden;
	
}.flyoutbox {
	border: 1px solid #A8A8A8;
}
.flyoutboxcellborder {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #D3D3D1;
	border-bottom-color: #D3D3D1;
	vertical-align: middle;

}

.flyoutboxcontent {
	font-size: 13px;
	color: #2e2e2e;
	/*font-family: "Myriad Pro";*/
	
	text-decoration: none;
	
	
	
}
.myLinks{
	display: block;
	height: 44px;
	width: 226px;
	font-size: 13px;
	color: #2e2e2e;
	/*font-family: "Myriad Pro";*/
	height: 44px;
	text-decoration: none;
	line-height: 44px;
	text-indent: 10px;

}

.myLinks a:link{
display: block;
height: 44px;
width: 226px;
font-size: 13px; color: #2e2e2e; /*font-family: "Myriad Pro";*/ height: 44px;  text-decoration: none;
line-height: 44px;
text-indent: 10px;
}

.myLinks a:hover{
	background-image: url(images/flyout_rollover_bck.jpg);
	background-repeat: repeat;
	font-size: 13px;
	color: #ffffff;
	/*font-family: "Myriad Pro";*/
	height: 44px;
	text-decoration: none;
	display: table;
	height: 44px;
	width: 226px;
	text-indent: 10px;
	line-height: 44px;
	display: block;
	
}

.myLinksRight{
	height: 44px;
	width: 226px;
	line-height: 44px;
	color: #2e2e2e;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-color: #D3D3D1;
	border-bottom-style: solid;
	font-size: 13px;

}
.myLinksRightOn{
	height: 44px;
	width: 226px;
	line-height: 44px;
	color: #ffffff;
	background-image: url(images/flyout_rollover_bck.jpg);
	background-repeat: repeat;
	cursor:pointer;
	border-bottom-width: 1px;
	border-bottom-color: #D3D3D1;
	border-bottom-style: solid;
	font-size: 13px;
}

.flyoutboxheight {
	height: 44px;
		border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #D3D3D1;
	border-bottom-color: #D3D3D1;
	vertical-align: middle;
}
.flyoutboxtop {
	height: 24px;
		border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #D3D3D1;
	border-bottom-color: #D3D3D1;
	vertical-align: middle;
}
.flyoutboxbottom {
	height: 24px;
}
.flyoutredtextt {
	font-size: 12px;
	color: #DA1A02;
	/*font-family: "Myriad Pro";*/
	font-weight: bold;
}
* {
 margin: 0 0 0 0;
 padding: 0 0 0 0;
}
fieldset {border: none;}

.clear {
 clear:both;
}
body {
 /*font-family: tahoma;*/
 color:#2E2E2E;
}

#tfcontainer {
	overflow: hidden;
}
#top_functions {
 list-style-type: none;
 font-size:12px;
    height: 33px; 
	width: 234px;
    background: url(images/bg.gif) no-repeat top;
    padding: 8px 0 0 5px; margin: 10px 0;
    overflow: hidden;
}
#top_functions li {
 border-left: 1px solid #000;
 float: left;
 line-height: 1.1em;
 margin: 0 .5em 0 -.5em;
 padding: 0 .5em 0 .5em;
}
#top_functions li a:link {
 color: #0157B0;
 text-decoration: none;
}
#top_functions li a:visited {
 color: #0157B0;
 text-decoration: none;
}
#top_functions a:hover {
 color: #2E2E2E;
 text-decoration: underline;
}


.searchform {
	background-repeat: repeat-x;
	background-image: url(images/gsearchbar.png);
	width:387px; 
	height:31px; 
	border:0;
	margin-left: 2px;
	margin-top: -1px;
	}
/*items hard coded*/
 
 .searchbutton {
 background: url(images/search_button.png);
 margin-left: -3px;
 margin-top: 0px;
 }
.site-filter {

 background:url(images/gsearch_mirror.png) no-repeat;
}
.inner_site-filter {
 padding-top: 6px;
padding-left: 120px;
}
#top_alerts {
 font-size: 14px;
margin: 10px 0px 8px 0px;
}
#top_alerts em{
 color:#FF0000;
 font-style: normal;
 font-size: 15px;
 padding-left: 5px;
}

/* Primary Topnav */

.secondary_topnav {
margin: 0px 0px 0px 0px;
 width: 948px;
 background-color: #f3f3e6;
 height: 25px;
padding: 10px 12px 2px 12px; 
}


.secondary_topnav ul {
 list-style: none;
}
.secondary_topnav li {
 float: left;
 padding: 0px 0px 0px 4px;
}
.secondary_topnav li a:link {
 text-decoration: none;
 color: #0157B0;
}
.secondary_topnav li a:visited {
 text-decoration: none;
 color: #0157B0;
}
.secondary_topnav li a:hover {
 text-decoration: underline;
 color:#000000
}
.list_divider { color: #959595;}
.secondary_space {
 margin-left:75px;
 display: inline;  /* Solution for bug IE6 */
}
.secondary_list2 {
 float: right;
}
.print_feature {
	background: url(images/printer_icon.gif) no-repeat;
	height: 16px;
	width: 57px;
	margin-top: 3px;
}
.breadcrumb li {
 color:#6E6E6E;
 font-size: 12px;
}
.breadcrumb li a:link {
 color:#0157B0;
 font-size: 12px;

}   .breadcrumb li a:hover { text-decoration: underline; }
.sec

#skip a, #skip a:hover, #skip a:visited
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:active, #skip a:focus
{
position:static;
width:auto;
height:auto;
} 

#wrapper {
	POSITION: relative
}